@import url('https://fonts.googleapis.com/css2?family= Orbitron & family = Press+Start+2P & display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #012340;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(37, 37, 37);;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo>h1>a{
    color:  rgb(0, 255, 106);
}
.barra-de-pesquisa{
    width: 45%;
    height: 66%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 255, 106);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 10px 15px;
}
.barra-de-pesquisa > input{
    width: 90%;
    padding: 10px 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: text;
    color: black;
   margin-right: 15px;
}

.menu{
    display: flex;
    justify-content: right;
    width: 35%;
    height: 100%;
}
.menu > ul{
    float: right;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.menu > ul >li{
    max-width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
    list-style: none;
    cursor: pointer;
    color:  rgb(0, 255, 106);
}
.menu>ul>li>img{
    cursor: pointer;
    width: 100%;
    height: 60%;
    object-fit: cover;
}



main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    background-color: #012340;
    padding: 2%;
}
.container-left{
    width: 70%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.block-produtos{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    min-height: 60vh;
}
.titulo{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}
.section-produto{
    width: 100%;
    height: 105px;
    background-color: rgba(228, 228, 228, 0.377);
    padding: 2%;
    border-radius: 10px;
    margin: 2% 0;
}
.section-produto> .nomeproduto,.descricaoproduto,.quantidadeproduto{
    font-size: 16px;
    width: 100%;
}
.nomeproduto{
    font-weight: bold;
}
.quantidadeproduto{
    display: flex;
}
.tituloquantidade{
    width: 11%;
}

.block-destino{
    width: 100%;
    height: 30vh;
    background-color: rgb(1, 255, 136);
    border-radius: 0 0 0 10px;
    padding: 2%;
}

.titulodestino{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

.section-destino{
    width: 100%;
    height: 60%;
    margin-top: 20px;
}
.nomeDestino{
    font-weight: bold;
    font-size: 0.9rem;
}
.descricaoDestino{
    width: 70%;
}

.container-right{
    width: 30%;
    position: sticky;
    top: -1px;
    min-height: 20vh;
    max-height: 96.7vh;
    background-color: #ffffff;
    border-radius: 0 0 10px 0;
    padding-top: 2%;
}
.block-meio-pagamento{
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bmp-titulo{
    width: 100%;
    height: 8%;
    font-size: 24px;
    font-weight: bold;
}
.container-infopagamento{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    width: 100%;
    padding: 4%;
    background-color: rgba(228, 228, 228, 0.377);
    border-radius: 10px;
}
.fp,
.vl,
.pcl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fp-forma,.pclvl{
    text-align: right;
}
.bmp-btn{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.bmp-btn> input{
    height: 40%;
    width: 60%;
    background-color: transparent;
}
.bmp-btn>input:hover{
    background-color: #53ffd4;
    cursor: pointer;
}